$orange: #c20b09ff;
$darkerorange: #c20b09ff;
.m{
  margin-top: 123px;
  img {
    height: 123px;
  }
}
.main {
  margin-top: 110px;
  position: relative;

  img {
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-shadow: 5px;
    
  }
}

.main2{
  margin-top: 110px;

  img {
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.main2content{
  padding: 50px;
}

.blogwrap{
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogsection {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.blogsub{
  width: 100%;
  display: flex;
}

.pee{
  width: 90%;
  margin: auto;
}

.blogcardimg{
  width: 40vw;
  padding: 50px 0px;
  margin: 0px 20px;
}

.blogcardimg img{
  width: 100%;
}

.blogheading{
  margin-top: 10px;
  width: 70%;
  font-family: sans-serif;
  .blogp{
    font-weight: 800;
    font-size: 15px;
  }
}

.blogbtn{
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #c20b09ff;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.blogbtn:hover{
  background-color: rgb(128, 7, 5);
  transition: ease-in-out .3s;
}

@media only screen and (max-width: 768px) {
  .blogsub{
    display: block;
    margin: auto;
  }

  .blogcardimg{
    width: 60vw;
    padding: 50px 0px;
    margin: 0px 20px;
  }

  .blogheading{
    width: 100%;
  }
  
}

@media only screen and (max-width: 375px) {

  .blogcardimg{
    width: 80vw;
  }

  .blogp{
    font-size: 10px;
  }
  
}


