.mainContactcont {
  height: 500px;
}
.contactmaincont {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
#contactcont {
  padding: 4%;
  position: relative;
  .contactcont {
    
  }
  .contactcard {
    position: absolute;
    background: #000;
    padding: 2%;
    opacity: 0.96;
    width: 40%;
    max-width: 600px;
    min-width: 300px;
    right: 2%;
    margin-left: 0x;
    top: 58%;
    margin-top: -50px;
    span,
    h1,
    h4 {
      color: #fff;
      font-family: "Poppins";
    }
    h1 {
      
      font-size: 40px;
      font-weight: bold;
    }
    h4{
        font-family:"Poppins-Light";
        padding-bottom:15px;
        font-size: 13px;
    }
  }
  .map {
    height: 100vh;
  }
}
